#header {
  background-image: url("images/hirak.jpg");
  background-size: cover;
  background-position: bottom center;
  height: 400px;
  width: 100%;

}

#header .title {
  color: yellow;
  border: 6px solid yellow;
  border-radius: 20px;
  position: relative;
  font-size: 120px;
  top: 120px;
  width: 450px;
  margin: 0 auto;
  text-align: center;
}


.navigation {
  height: auto;
}

.navigation ul {
  margin: 0;
  padding: 0;
  text-align: center;

}

.navigation li {
  font-weight: 100;
  list-style-type: none;
  letter-spacing: 2px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 6px;
  width: 150px;
  margin: 15px auto;

}

.navigation  li.logo {
  width: 200px;
  color: black;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 4px;
}
