body, html {
  height: 100%;
  margin: 0;
}



#header {
  background-image: url("images/hirak.jpg");
  background-size: cover;
  background-position: bottom center;
  height: 400px;
  width: 100%;

}

#header .title {
  color: yellow;
  border: 6px solid yellow;
  border-radius: 20px;
  position: relative;
  font-size: 120px;
  top: 120px;
  width: 450px;
  margin: 0 auto;
  text-align: center;
}


.navigation {
}

.navigation ul {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  list-style-type: none;
  width: 200px;


}


.navigation ul li {
  font-weight: 300;
  letter-spacing: 2px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 6px;
  width: 70%;
  margin: 15px auto;
  font-size: 120%;


}

/*.navigation  li.logo {
  width: 200px;
  color: black;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 4px;
}*/

.news-sources:hover {
  border: 6px solid yellow;
  border-radius: 20px;
}


a {
  text-decoration: none;
  color: black;
}


.navigation li:hover {
  width: 200px;
  color: black;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 4px;
}


.news-sources {
  width: 400px;
}
